.inMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    width: 1000px;
    height: 700px;
    position: relative;

    //background-color: #ffffff;
    .title {
      font-size: 28px;
      font-family: "阿里妈妈数黑体 Bold", serif;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
    }
    .btn {
      position: absolute;
      top: 50px;
      right: 0;
      font-family: "阿里妈妈数黑体 Bold", serif;
    }

    .message {
      //height: 500px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #ffffff;

      .avatar {
        height: 200px;
        margin: 20px;
        border-radius: 10px;
        background-color: #eff8ff;
        //background-color: #a1bdff;
        @extend .inMiddle;
        flex-direction: column;
        position: relative;

        .nickName {
          margin: 20px 0;
          font-size: 18px;
          font-family: "阿里妈妈数黑体 Bold", serif;
        }

        //.btn {
        //  position: absolute;
        //  right: 10%;
        //}
      }
      .detailList{
        @extend .inMiddle;
        position: relative;
        .modify{
          position: absolute;
          top: 0;
          right: 10%;
          //background-color: #dadada;
          //color: #363636;
          //font-size: 14px;
          //&:hover{
          //  background-color: #eeeeee;
          //}
        }
        .userDetail{

          //width: 200px;

          .detailItem{
            //margin: 20px 0;
            margin-bottom: 20px;
            position: relative;
            .changeEmail{
              position: absolute;
              top: -6px;
            }
          }
        }


      }
    }
  }
}