
$height: 64px;
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 5px 7px -3px rgba(0, 0, 0, 0.1);
  padding: 0 100px;
  height: $height;
  .left{
    display: flex;
    align-items: center;
    cursor: pointer;

    .logo{
      width: 60px;
    }
    .title{
      font-size: 26px;
      color: #383838;
      font-family: "阿里妈妈数黑体 Bold", serif;
    }
  }
  .avatar{
    display: flex;
    align-items: center;
    .avatarItem{
      margin: 0 6px;
      .icon{
        font-size: 16px;
        color: #696969;
      }
      .avatarItemText{
        margin: 0 6px;
      }
    }
  }
}


.content {
  padding: 24px;
}

.footer {
  //text-align: center;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
}
